{% extends 'base.html.twig' %}

{% block title %}Profil de {{ app.user.firstName }}{% endblock %}

{% block main %}
    <h1>Profil de {{ app.user.firstName }} {{ app.user.lastName }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Image</th>
                <td>{{ profil.picture }}</td>
            </tr>
            <tr>
                <th>Descriptif</th>
                <td>{{ profil.descriptif }}</td>
            </tr>
            <tr>
                <th>Date de Naissance</th>
                <td>{{ profil.dateBirth ? profil.dateBirth|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Date de Complétion du Profil</th>
                <td>{{ profil.createdAt ? profil.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date de Mise à jour du Profil</th>
                <td>{{ profil.updatedAt ? profil.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_profils_edit', {'id': profil.id}) }}" class="btn btn-warning mb-5">Editer ton profil</a>

{% endblock %}
